In [1]:
from pathlib import Path
import requests

def download_one_file_of_raw_data(year :int, month:int) -> Path:

    """
    
    
    """
    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet"
    response = requests.get(URL)

    if response.status_code == 200:
        path = f'../data/raw/rides_{year}-{month:02d}.parquet'
        open(path,'wb').write(response.content)
        return path

    else:
        raise Exception(f'{URL} is not available' )

In [2]:
download_one_file_of_raw_data(year= 2023, month= 2)

'../data/raw/rides_2023-02.parquet'

In [3]:
import pandas as pd

rides= pd.read_parquet("../data/raw/rides_2023-02.parquet")

rides.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.00,0.00,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.00,0.00,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.00,0.00,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.00,0.00,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.30,0.00,1.0,25.30,2.5,0.00
5,1,2023-02-01 00:52:40,2023-02-01 01:07:18,1.0,5.10,1.0,N,148,236,1,21.9,3.50,0.5,5.35,0.00,1.0,32.25,2.5,0.00
6,1,2023-02-01 00:12:39,2023-02-01 00:40:36,1.0,8.90,1.0,N,137,244,1,41.5,3.50,0.5,3.50,0.00,1.0,50.00,2.5,0.00
7,1,2023-02-01 00:56:53,2023-02-01 01:00:37,1.0,1.20,1.0,N,263,141,1,7.2,3.50,0.5,2.44,0.00,1.0,14.64,2.5,0.00
8,2,2023-02-01 00:20:40,2023-02-01 00:33:56,1.0,7.49,1.0,N,48,243,1,30.3,1.00,0.5,8.82,0.00,1.0,44.12,2.5,0.00
9,2,2023-02-01 00:33:51,2023-02-01 00:37:34,1.0,0.51,1.0,N,114,211,1,5.8,1.00,0.5,1.62,0.00,1.0,12.42,2.5,0.00
10,2,2023-02-01 01:00:45,2023-02-01 01:06:00,1.0,0.78,1.0,N,114,249,1,7.2,1.00,0.5,2.44,0.00,1.0,14.64,2.5,0.00
11,2,2023-02-01 00:10:48,2023-02-01 00:18:09,1.0,1.57,1.0,N,125,107,1,10.0,1.00,0.5,1.00,0.00,1.0,16.00,2.5,0.00
12,2,2023-02-01 00:00:28,2023-02-01 00:12:54,1.0,5.40,1.0,N,140,42,1,23.3,1.00,0.5,2.00,0.00,1.0,30.30,2.5,0.00
13,2,2023-02-01 00:35:06,2023-02-01 00:45:47,1.0,3.44,1.0,N,140,226,1,16.3,1.00,0.5,4.26,0.00,1.0,25.56,2.5,0.00
14,2,2023-02-01 00:06:00,2023-02-01 00:10:31,5.0,1.03,1.0,N,249,90,1,7.2,1.00,0.5,3.05,0.00,1.0,15.25,2.5,0.00
15,2,2023-02-01 00:31:02,2023-02-01 00:41:26,5.0,2.06,1.0,N,234,4,1,12.1,1.00,0.5,3.42,0.00,1.0,20.52,2.5,0.00
16,2,2023-02-01 00:47:56,2023-02-01 00:53:02,5.0,0.93,1.0,N,114,125,1,7.2,1.00,0.5,0.00,0.00,1.0,12.20,2.5,0.00
17,1,2023-02-01 00:01:09,2023-02-01 00:51:49,1.0,20.30,2.0,N,132,239,1,70.0,3.75,0.5,16.35,6.55,1.0,98.15,2.5,1.25
18,1,2023-02-01 00:41:47,2023-02-01 01:14:14,1.0,18.40,2.0,N,132,230,1,70.0,3.75,0.5,2.00,6.55,1.0,83.80,2.5,1.25
19,2,2023-02-01 00:22:16,2023-02-01 00:40:34,2.0,4.14,1.0,N,140,68,2,21.9,1.00,0.5,0.00,0.00,1.0,26.90,2.5,0.00

In [4]:
rides.shape

(2913955, 19)

In [5]:
rides = rides[["tpep_pickup_datetime","PULocationID"]]

In [6]:
rides.rename(columns = {
    'tpep_pickup_datetime' : 'pickup_datetime',
    'PULocationID' : 'pickup_location_id'
}, inplace=True)

In [7]:
rides.head()

      pickup_datetime  pickup_location_id
0 2023-02-01 00:32:53                 142
1 2023-02-01 00:35:16                  71
2 2023-02-01 00:35:16                  71
3 2023-02-01 00:29:33                 132
4 2023-02-01 00:12:28                 161

In [8]:
rides['pickup_datetime'].describe()

/var/folders/15/5kzdwk5s6w34qnknp4w3r8pw0000gn/T/ipykernel_74873/3389344848.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  rides['pickup_datetime'].describe()

count                 2913955
unique                1493984
top       2023-02-03 18:43:00
freq                       15
first     2008-12-31 23:05:06
last      2023-03-07 13:01:28
Name: pickup_datetime, dtype: object

In [9]:
rides = rides[rides['pickup_datetime']>= '2023-02-01']
rides = rides[rides['pickup_datetime']< '2023-03-01']
rides['pickup_datetime'].describe()

/var/folders/15/5kzdwk5s6w34qnknp4w3r8pw0000gn/T/ipykernel_74873/2980434914.py:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  rides['pickup_datetime'].describe()

count                 2913900
unique                1493929
top       2023-02-03 18:43:00
freq                       15
first     2023-02-01 00:00:00
last      2023-02-28 23:59:59
Name: pickup_datetime, dtype: object

In [10]:
rides.to_parquet('../data/transformed/validated_rides_2023_02.parquet')